<!DOCTYPE html>
<html lang="en">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("partials/head") %>
  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("partials/header") %>
    <main>
      <!-- *********DISPLAY OUR NOTES********* -->
      <a href="/auth/logout"><button class="button">Logout</button></a>
      <h1 class="title">My Game Dev Notes</h1>
      <% for (game of games) { %>
      <card class="container"><%= game.text %></card>
      <% } %>

      <% for(let i = 0; i < games.length; i++){ %>
      <a href="/games/<%= games[i].id; %>">
          
      </a>
    
        <!-- **********NEW GAMES FORM**************** -->
      <h1>NOTES</h1>
      <form action="/games" method="post">
        <input type="text" class="note-input" placeholder="NOTES" name="text"/>
        <input type="submit" value="POST NOTES" />
      </form>
      <!--DELETE FORM-->
      <form action="/games/<%= games[i].id %>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE"/>
      </form>

      <% } %>
    </main>
    <!-- THE HEAD TAG PARTIAL -->
    <%- include("partials/footer") %>
  </body>
</html>